.product-spotlight {
    width: 100%;
    padding-bottom: 5rem;
}

.product-spotlight-slider {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    transition: 0.25s ease;
    scroll-snap-type: mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-snap-align: left;
}

.product-spotlight .product-card {
    padding-right: 0;
    margin-right: 2em;
    min-width: 50%;
    transition: 0.25s ease;

}

.product-spotlight .product-card:last-child {
    margin-right: 0;
}

.product-spotlight .product-card-img {
    max-width: 100%;
}

.product-card .product-card-meta {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.4;
    font-weight: 600;
}

.product-card .product-card-meta::before {
    content: "";
    display: inline-block;
    background: #02a783;
    width: 3em;
    height: 2px;
    margin-right: 1em;
    margin-bottom: 0.4em;
    position: relative;
}

.product-card .product-card-title {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: .5em;
}

.product-card .product-card-info {
    /* color:  */
    margin-bottom: 2em;
}

.product-card .product-card-cta {
    display: inline-block;
    border: 1px solid white;
    padding: 1.2em 2.5em;
    border-radius: 3em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    transition: .2s ease-in;
}

.product-card .product-card-cta:hover {
    background-color: #02a783;
    border: 1px solid #02a783;
}

.product-spotlight-left {
    position: absolute;
    height: 100%;
    display: flex;
    background-color: white;
    -webkit-mask: url("../assets/left-arrow.svg") no-repeat center;
    mask: url("../assets/left-arrow.svg") no-repeat center;
    width: 1.5rem;
    margin: 0 1em;
    opacity: 0;
    transition: .25s ease-in;
}

.product-spotlight-left:hover {
    opacity: 1;
    transition: .1s;
}

.product-spotlight-right {
    position: absolute;
    height: 100%;
    display: flex;
    right: 0;
    background-color: white;
    -webkit-mask: url("../assets/right.svg") no-repeat center;
    mask: url("../assets/right.svg") no-repeat center;
    width: 1.5rem;
    margin: 0 1em;
    opacity: 0;
}

.product-spotlight-right:hover {
    opacity: 1;
}

@media (max-width: 1024px) {
    .product-card .product-card-title {
        font-size: 1.125rem;
    }

    .product-card .product-card-info {
        font-size: .875rem;
    }

    .product-card .product-card-cta {
        font-size: .875rem;
        padding: .75em 2em;
    }
}

@media (max-width: 575px) {
    .product-spotlight .product-card {
        width: 75%;
        min-width: 75%;
    }

    .product-spotlight-arrows {
        display: none;
    }
}